MYSQL_URL=jdbc:mysql://localhost:3306/bookws?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
MYSQL_USER=root
MYSQL_PASSWORD=root
BANK_HOST=http://localhost:9000/production
BANK_MERCHANT_SECRET=JokowiMaruf2019
CATALINA_HOME=/usr/local/Cellar/tomcat/9.0.13/libexec