MYSQL_URL=jdbc:mysql://localhost:3306/bookws?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
MYSQL_USER=root
MYSQL_PASSWORD=root
BANK_HOST=http://localhost:3000/production
BANK_MERCHANT_SECRET=JokowiMaruf2019